<div class="d-flex align-items-start justify-content-center mt-4">
  <h3 class="page-title title--font-size font--roboto-bold">
    Currency Converter
  </h3>
</div>

<div class="d-flex justify-content-center mt-4">
  <mat-card>
    <form
      class="conversion-area row justify-content-center"
      [formGroup]="converterForm"
      (ngSubmit)="exchangeRates()"
      (keyup.enter)="$event.preventDefault()"
      autocomplete="false"
      novalidate
    >
      <mat-form-field
        class="margin-sm-right col-12 col-md-12 col-lg-3 col-xl-3"
      >
        <input
          matInput
          placeholder="Amount"
          (input)="setFormValidity()"
          autocomplete="off"
          formControlName="amountControl"
          type="number"
        />
      </mat-form-field>

      <mat-form-field
        class="margin-sm-left-right col-12 col-md-12 col-lg-3 col-xl-3"
      >
        <input
          placeholder="From"
          class="pb-0 from-control"
          matInput
          name="someUnusualFrom"
          formControlName="fromControl"
          (input)="selectWrittenCurrency($event, 'fromControl')"
          (keydown.enter)="selectWrittenCurrency($event, 'fromControl')"
          [matAutocomplete]="fromAutoComplete"
        />

        <mat-autocomplete
          #fromAutoComplete="matAutocomplete"
          (optionSelected)="
            selectCurrencyByClick($event.option.value, 'fromControl')
          "
        >
          <mat-option
            *ngFor="let fromItem of currencyValues"
            [value]="fromItem"
            class="d-flex justify-content-start"
            (onSelectionChange)="
              selectCurrencyByEnter($event, this.fromCurrency)
            "
          >
            <span>{{ fromItem }}</span>

            <b class="primary--color ml-3">{{ getSymbol(fromItem) }} </b>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        mat-icon-button
        mat-raised-button
        type="button"
        (click)="changeExchangeInputValues()"
      >
        <mat-icon>compare_arrows</mat-icon>
      </button>

      <mat-form-field class="margin-sm-left col-12 col-md-12 col-lg-3 col-xl-3">
        <input
          type="text"
          placeholder="To"
          aria-label="To"
          class="pb-0 to-control"
          name="someUnusualTo"
          matInput
          formControlName="toControl"
          (input)="selectWrittenCurrency($event, 'toControl')"
          (keydown.enter)="selectWrittenCurrency($event, 'toControl')"
          [matAutocomplete]="toAutoComplete"
        />

        <mat-autocomplete
          #toAutoComplete="matAutocomplete"
          (optionSelected)="
            selectCurrencyByClick($event.option.value, 'toControl')
          "
        >
          <mat-option
            *ngFor="let toItem of currencyValues"
            [value]="toItem"
            (onSelectionChange)="selectCurrencyByEnter($event, this.toCurrency)"
          >
            <span>{{ toItem }}</span>

            <b class="primary--color ml-3">{{ getSymbol(toItem) }} </b>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        mat-raised-button
        class="margin-sm-left convert-button"
        color="primary"
        type="submit"
        [disabled]="!currencyExchangeService.isValid"
      >
        CONVERT
      </button>
    </form>
  </mat-card>
</div>

<div class="d-flex justify-content-center mt-4">
  <mat-spinner *ngIf="loading && !result"></mat-spinner>
  <mat-card *ngIf="result">
    <section
      class="mt-4 d-flex justify-content-center flex-column align-items-center"
    >
      <p class="title--font-size">
        {{ amount }} {{ fromCurrency }} to {{ toCurrency }} =
        {{ result | number: "1.5-5" }} {{ toCurrency }}
      </p>
      <p class="body-text--font-size">
        1 {{ fromCurrency }}
        =
        {{ +toRate / +fromRate | number: "1.5-5" }} {{ toCurrency }}
      </p>
    </section>
  </mat-card>
</div>
